---
# Radarr instance configuration in Buildarr.
radarr:
  # Configuration common to all instances.
  port: 443
  protocol: "https"
  settings:
    media_management:
      rename_movies: true
      replace_illegal_characters: true
      colon_replacement: space-dash-space
      standard_movie_format: >-
        {Movie CleanTitle} {(Release Year)} [imdbid-{ImdbId}] - {Edition Tags
        }{[Custom Formats]}{[Quality Full]}{[MediaInfo 3D]}{[MediaInfo
        VideoDynamicRangeType]}{[Mediainfo AudioCodec}{ Mediainfo
        AudioChannels]}[{Mediainfo VideoCodec}]
      movie_folder_format: "{Movie CleanTitle} ({Release Year})"
      create_missing_movie_folders: false
      delete_empty_folders: false
      skip_free_space_check: false
      minimum_free_space: 10000 # MB
      use_hardlinks: true
      import_using_script: false
      import_script_path: null
      import_extra_files: false
      unmonitor_deleted_movies: false
      propers_and_repacks: do-not-prefer
      analyze_video_files: true
      rescan_folder_after_refresh: always
      change_file_date: none
      recycling_bin: null
      recycling_bin_cleanup: 28
      root_folders:
        delete_unmanaged: true
        definitions:
          - "/data/media/movies"
    custom_formats:
      delete_unmanaged: true
      definitions:
        # Movie Versions
        hybrid:
          trash_id: "0f12c086e289cf966fa5948eac571f44"
        remaster:
          trash_id: "570bc9ebecd92723d2d21500f4be314c"
        4k-remaster:
          trash_id: "eca37840c13c6ef2dd0262b141a5482f"
        criterion:
          trash_id: "e0c07d59beb37348e975a930d5e50319"
        moc:
          trash_id: "9d27d9d2181838f76dee150882bdc58c"
        vinegar:
          trash_id: "db9b4c4b53d312a3ca5f1378f6440fc9"
        special-edition:
          trash_id: "957d0f44b592285f26449575e8b1167e"
        imax:
          trash_id: "eecf3a857724171f968a66cb5719e152"
        imax-enhanced:
          trash_id: "9f6cbff8cfe4ebbc1bde14c7b7bec0de"
        # Release Groups
        ## Bluray (HD)
        bluray-tier-i:
          trash_id: "ed27ebfef2f323e964fb1f61391bcb35"
        bluray-tier-ii:
          trash_id: "c20c8647f2746a1f4c4262b0fbbeeeae"
        bluray-tier-iii:
          trash_id: "5608c71bcebba0a5e666223bae8c9227"
        ## Bluray (UHD)
        uhd-bluray-tier-i:
          trash_id: "4d74ac4c4db0b64bff6ce0cffef99bf0"
        uhd-bluray-tier-ii:
          trash_id: "a58f517a70193f8e578056642178419d"
        uhd-bluray-tier-iii:
          trash_id: "e71939fae578037e7aed3ee219bbe7c1"
        ## Web (HD)
        web-tier-i:
          trash_id: "c20f169ef63c5f40c2def54abaf4438e"
        web-tier-ii:
          trash_id: "403816d65392c79236dcb6dd591aeda4"
        web-tier-iii:
          trash_id: "af94e0fe497124d1f9ce732069ec8c3b"
        ## Remux
        remux-tier-i:
          trash_id: "3a3ff47579026e76d6504ebea39390de"
        remux-tier-ii:
          trash_id: "9f98181fe5a3fbeb0cc29340da2a468a"
        remux-tier-iii:
          trash_id: "8baaf0b3142bf4d94c42a724f034e27a"
        # Unwanted
        br-disk:
          trash_id: "ed38b889b31be83fda192888e2286d83"
        lq:
          trash_id: "90a6f9a284dff5103f6346090e6280c8"
        lq-release-title:
          trash_id: "e204b80c87be9497a8a6eaff48f72905"
        x265:
          trash_id: "dc98083864ea246d05a42df0d05f81cc"
        3d:
          trash_id: "b8cd450cbfa689c0259a01d9e29ba3d6"
        extras:
          trash_id: "0a3f082873eb454bde444150b70253cc"
        lq-french:
          trash_id: "48f031e76111f17ea94898f4cdc34fdc"
        upscaled:
          trash_id: "bfd8eb01832d646a0a89c4deb46f8564"
        # Extras Formats
        repack:
          trash_id: "e7718d7a3ce595f289bfee26adc178f5"
        repack-v2:
          trash_id: "ae43b294509409a6a13919dedd4764c4"
        vostfr:
          trash_id: "9172b2f683f6223e3a1846427b417a3d"
        51-surround:
          trash_id: "77ff61788dfe1097194fd8743d7b4524"
        71-surround:
          trash_id: "e77382bcfeba57cb83744c9c5449b401"
        # French Formats
        multi-audio:
          trash_id: "4b900e171accbfb172729b63323ea8ca"
        french-audio:
          trash_id: "6d27683346c78d6a3f772e30877910a7"
        multi-french:
          trash_id: "6d27683346c78d6a3f772e30877910a7"
        ## Releases Groups
        fr-bluray-tier-i:
          trash_id: "5322da05b19d857acc1e75be3edf47b3"
        fr-bluray-tier-ii:
          trash_id: "57f34251344be2e283fc30e00e458be6"
        fr-web-tier-i:
          trash_id: "9790a618cec1aeac8ce75601a17ea40d"
        fr-web-tier-ii:
          trash_id: "3c83a765f84239716bd5fd2d7af188f9"
        fr-remux-tier-i:
          trash_id: "5583260016e0b9f683f53af41fb42e4a"
        fr-remux-tier-ii:
          trash_id: "9019d81307e68cd4a7eb06a567e833b8"
        fr-scene-groups:
          trash_id: "0d94489c0d5828cd3bf9409d309fb32b"  # !Beware: loss quality with this flag
  instances:
    radarr-hd:
      hostname: "radarr.{{ domain }}"
      api_key: "{{ arr_apikeys['radarr-hd'] }}"
      settings:
        general:
          host:
            instance_name: "Radarr (HD Movies)"
        quality:
          trash_id: "aed34b9f60ee115dfa7918b742336277" # movies
        profiles:
          quality_profiles:
            delete_unmanaged: true
            definitions:
              "Bluray/WEB":
                upgrades_allowed: true
                upgrade_until_quality: "Bluray-1080p"
                qualities:
                    - "Bluray-1080p"
                    - name: "WEB 1080p"
                      members:
                        - "WEBRip-1080p"
                        - "WEBDL-1080p"
                    - "Bluray-720p"
                minimum_custom_format_score: 0
                upgrade_until_custom_format_score: 10000
                custom_formats:
                  - name: hybrid
                  - name: remaster
                  - name: 4k-remaster
                  - name: criterion
                  - name: moc
                  - name: vinegar
                  - name: special-edition
                  - name: imax
                  - name: imax-enhanced
                  # Repack
                  - name: repack
                  - name: repack-v2
                  # Releases Groups
                  ## Bluray
                  - name: bluray-tier-i
                  - name: bluray-tier-ii
                  - name: bluray-tier-iii
                  ## Web
                  - name: web-tier-i
                  - name: web-tier-ii
                  - name: web-tier-iii
                  # Unwanted
                  - name: br-disk
                  - name: lq
                  - name: lq-release-title
                  - name: x265
                  - name: 3d
                  - name: extras
              "Remux/WEB":
                upgrades_allowed: true
                upgrade_until_quality: "Remux-1080p"
                qualities:
                    - "Remux-1080p"
                    - name: "WEB 1080p"
                      members:
                        - "WEBRip-1080p"
                        - "WEBDL-1080p"
                minimum_custom_format_score: 0
                upgrade_until_custom_format_score: 10000
                custom_formats:
                  - name: hybrid
                  - name: remaster
                  - name: 4k-remaster
                  - name: criterion
                  - name: moc
                  - name: vinegar
                  - name: special-edition
                  - name: imax
                  - name: imax-enhanced
                  # Repack
                  - name: repack
                  - name: repack-v2
                  # Releases Groups
                  ## Web
                  - name: web-tier-i
                  - name: web-tier-ii
                  - name: web-tier-iii
                  ## Remux
                  - name: remux-tier-i
                  - name: remux-tier-ii
                  - name: remux-tier-iii
                  # Unwanted
                  - name: br-disk
                  - name: lq
                  - name: lq-release-title
                  - name: x265
                  - name: 3d
                  - name: extras
              "Bluray/WEB - FR":
                upgrades_allowed: true
                upgrade_until_quality: "Bluray-1080p"
                qualities:
                    - "Bluray-1080p"
                    - name: "WEB 1080p"
                      members:
                        - "WEBRip-1080p"
                        - "WEBDL-1080p"
                    - "Bluray-720p"
                minimum_custom_format_score: 0
                upgrade_until_custom_format_score: 10000
                custom_formats:
                  - name: hybrid
                  - name: remaster
                  - name: 4k-remaster
                  - name: criterion
                  - name: moc
                  - name: vinegar
                  - name: special-edition
                  - name: imax
                  - name: imax-enhanced
                  # Repack
                  - name: repack
                  - name: repack-v2
                  # Releases Groups
                  ## Bluray
                  - name: fr-bluray-tier-i
                  - name: fr-bluray-tier-ii
                  ## Web
                  - name: fr-web-tier-i
                  - name: fr-web-tier-ii
                  # Unwanted
                  - name: br-disk
                  - name: lq
                  - name: lq-french
                  - name: x265
                  - name: 3d
                  # Audios
                  - name: multi-audio
                  - name: french-audio
                  - name: multi-french
                language: any
              "Remux/WEB - FR":
                upgrades_allowed: true
                upgrade_until_quality: "Remux-1080p"
                qualities:
                    - "Remux-1080p"
                    - "Bluray-1080p"
                    - name: "WEB 1080p"
                      members:
                        - "WEBRip-1080p"
                        - "WEBDL-1080p"
                minimum_custom_format_score: 0
                upgrade_until_custom_format_score: 10000
                custom_formats:
                  - name: hybrid
                  - name: remaster
                  - name: 4k-remaster
                  - name: criterion
                  - name: moc
                  - name: vinegar
                  - name: special-edition
                  - name: imax
                  - name: imax-enhanced
                  # Repack
                  - name: repack
                  - name: repack-v2
                  # Releases Groups
                  ## Remux
                  - name: fr-remux-tier-i
                  - name: fr-remux-tier-ii
                  ## Web
                  - name: fr-web-tier-i
                  - name: fr-web-tier-ii
                  # Unwanted
                  - name: br-disk
                  - name: lq
                  - name: lq-french
                  - name: x265
                  - name: 3d
                  # Audios
                  - name: multi-audio
                  - name: french-audio
                  - name: multi-french
                language: any
        download_clients:
          definitions:
            qBitTorrent:
              enable: true
              type: "qbittorrent"
              hostname: "qbit.{{ domain }}"
              port: 443
              use_ssl: true
              username: "{{ qbit_username }}"
              password: "{{ qbit_password }}"
              priority: 1
              remove_completed_downloads: true
              remove_failed_downloads: true
              category: "radarr-hd"
              client_priority: last
              initial_state: start
              sequential_order: false
              first_and_last_first: false
    radarr-4k:
      hostname: "4k.radarr.{{ domain }}"
      api_key: "{{ arr_apikeys['radarr-4k'] }}"
      settings:
        general:
          host:
            instance_name: "Radarr (4K Movies)"
        quality:
          trash_id: "da8c8c0268b2f304be588132831543d2"
        profiles:
          quality_profiiles:
            delete_unmanaged: true
            definitions:
              "UHD Bluray/WEB":
                upgrades_allowed: true
                upgrade_until_quality: "Bluray-2160p"
                qualities:
                    - "Bluray-2160p"
                    - name: "WEB 2160p"
                      members:
                        - "WEBRip-2160p"
                        - "WEBDL-2160p"
                minimum_custom_format_score: 0
                upgrade_until_custom_format_score: 10000
                custom_formats:
                  - name: hybrid
                  - name: remaster
                  - name: 4k-remaster
                  - name: criterion
                  - name: moc
                  - name: vinegar
                  - name: special-edition
                  - name: imax
                  - name: imax-enhanced
                  # Repack
                  - name: repack
                  - name: repack-v2
                  # Releases Groups
                  ## Bluray (UHD)
                  - name: uhd-bluray-tier-i
                  - name: uhd-bluray-tier-ii
                  - name: uhd-bluray-tier-iii
                  ## Web
                  - name: web-tier-i
                  - name: web-tier-ii
                  - name: web-tier-iii
                  # Unwanted
                  - name: br-disk
                  - name: lq
                  - name: lq-release-title
                  - name: x265
                  - name: 3d
                  - name: extras
                  - name: upscaled
              "UHD Remux/WEB":
                upgrades_allowed: true
                upgrade_until_quality: "Remux-2160p"
                qualities:
                    - "Remux-2160p"
                    - name: "WEB 2160p"
                      members:
                        - "WEBRip-2160p"
                        - "WEBDL-2160p"
                minimum_custom_format_score: 0
                upgrade_until_custom_format_score: 10000
                custom_formats:
                  - name: hybrid
                  - name: remaster
                  - name: 4k-remaster
                  - name: criterion
                  - name: moc
                  - name: vinegar
                  - name: special-edition
                  - name: imax
                  - name: imax-enhanced
                  # Repack
                  - name: repack
                  - name: repack-v2
                  # Releases Groups
                  ## Web
                  - name: web-tier-i
                  - name: web-tier-ii
                  - name: web-tier-iii
                  ## Remux
                  - name: remux-tier-i
                  - name: remux-tier-ii
                  - name: remux-tier-iii
                  # Unwanted
                  - name: br-disk
                  - name: lq
                  - name: lq-release-title
                  - name: x265
                  - name: 3d
                  - name: extras
                  - name: upscaled
        download_clients:
          definitions:
            qBitTorrent:
              enable: true
              type: "qbittorrent"
              hostname: "qbit.{{ domain }}"
              port: 443
              use_ssl: true
              username: "{{ qbit_username }}"
              password: "{{ qbit_password }}"
              priority: 1
              remove_completed_downloads: true
              remove_failed_downloads: true
              category: "radarr-4k"
              client_priority: last
              initial_state: start
              sequential_order: false
              first_and_last_first: false
